.main-container {
  text-align: center;
}

.numbers-container,
.stars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 10em;
  height: 10em;
  padding: 1em;
  border: solid black 1px;
}

.game-container {
  display: flex;
  justify-content: center;
}
